<h2>Preamble</h2>

<p>
  OK, before anything else, let's just acknowledge how cool Elixir is! Even though it is not the most common language for bioinformatics, but it has a lot of potential in data science in general. This is not to be taken as an expert opinion, as I am using this series to learn Elixir, but I can see how it can be positioned as a good alternative to Python or R for bioinformatics because of its concurrency model, its robustness to failures, and the ease at which it can be used to build scalable applications.
</p>

<p>
  Elixir is a functional language. That explains a bit of how weird it looks at first. The idea is that functions avoid side effects and data is immutable. This means that the data passed to a function is not modified, but rather a new data structure is created. This is very different from Python, where functions modify the data passed to them. Wait, what? isn't copying data expensive? Well, yes, but one can argue that in many tasks in bioinformatics we create new data at most steps in an analysis, so we are going to copy data anyway. Moreover, because the data is immutable, concurrency becomes a lot easier, as race conditions are way less likely. As a bonus, Elixir is very easy to scale horizontally. This means that we can distribute a computation across multiple machines, and the code would look very similar to concurrent code in a single machine.
</p>

<p>With that out of the way, let's look at this implementation.</p>

<h2>Objectives</h2>

<p>
  I am still learning Elixir, so I will be focusing more on practicing basic syntax and data structures, and less time optimizing or deeply exploring optimal features for this task. These are the features of the language that I want to focus on:
</p>

<ul>
  <li>How to work with files</li>
  <li>How to extract gzipped files</li>
  <li>Function pattern matching</li>
  <li>Pipelines</li>
</ul>

<h2>Implementation</h2>

<p>
  The code for this exercise can be found in
  <a
    href="https://github.com/biofilos/mirlangs/tree/main/elixir/parse_gff3"
    class="text-primary hover:text-primary/80 underline transition-colors"
    target="_blank"
    rel="noopener noreferrer"
  >
    this Github repository
  </a>
</p>

<.remote_code
  url="https://raw.githubusercontent.com/biofilos/mirlangs/main/elixir/parse_gff3/lib/parse_gff3.ex"
  lang="elixir"
/>

<h3>Notes</h3>

<h3>One step further, with Structs and imports</h3>

<p>
  In this case, we use the functions
  <.icode>stream_file</.icode>
  and
  <.icode>extract_annotation</.icode>
  from the first implementation to do the basic processing as in the first iteration, but we will add the functionality to parse metadata, and use pattern matching with Structs to send different data lines to different functions.
</p>

<.remote_code
  url="https://raw.githubusercontent.com/biofilos/mirlangs/main/elixir/parse_gff3/lib/parse_all_gff3.ex"
  lang="elixir"
/>

<h2>Conclusion</h2>

<p>
  I have to concede that Elixir required me to change a lot of patterns I was used to when programming in other languages. For example, list processing can be a little annoying at first, because I have to think about parsing the first element first, and take into account that the last "element" is an empty list, while in Python and other languages, I can just iterate over the list. That said, this pattern in Elixir can be an advantage, as it makes recursion easier to implement, which is optimised in Elixir, and takes advantage of other more advanced features of the language.
</p>

<p>
  The concept of pipes is so ergonomic! It is very easy to chain data transformation functions together, and see the results at each step when building the application. It is also very convenient that I can group pipes together as a function, which makes the code more pleasant to read.
</p>

<p>
  Function overloading with pattern matching is my favorite feature so far! This makes the code very readable, as instead of having a lot of
  <.icode>if</.icode>
  statements or
  <.icode>switch</.icode>
  blocks for different data types, I can just code a separate function for each type of data. Additionally, pattern matching makes arguments easier to parse, and more expressive in the code, as I know how the arguments should look like right in the function definition.
</p>

<p>
  The elephant in the room in this application is performance. This application runs slower than Python, which is already a slow language. However, it is important to note that in this application, the purpose was not to build performant code, but just to get a sense of the basic features of the language. Elixir is more than capable of scaling to large datasets with great performance, and I will be using it in future projects.
</p>

<p>
  All in all, I am very excited to continue developing in Elixir. Once I learn more advanced features, I will be able to use it for production-ready ETL applications, and even server-side bioinformatics tools.
</p>
