<h2>Objective</h2>
<p>
  Rust would normally be overkill for a simple application like this. However, remember that the objective is *not* to design the optimal solution, but to use this application as an excuse to explore how to get around Rust. I tried to use sensical Rust conventions, but if the borrow checker starts to nag, I will hapily use `clone` and go on with my day (if you know what I mean).
</p>

<ul>
  <li>How to work with files</li>
  <li>How to extract gzipped files</li>
  <li>Function pattern matchinc</li>
  <li>Pipelines</li>
</ul>

<h2>Implementation</h2>
<p>
  The code for this exercise can be found in
  <a
    a
    href="https://github.com/biofilos/mirlangs/tree/main/rust/parse_gff3"
    class="text-primary hover:text-primary/80 underline transition-colors"
    target="_blank"
    rel="noopener noreferrer"
  >
    this Github repository
  </a>
</p>
<.remote_code
  url="https://raw.githubusercontent.com/biofilos/mirlangs/main/rust/parse_gff3/src/main.rs"
  lang="rust" />

<h2>Notes</h2>
<p>

  I was surprised at how intuitive Rust was. Granted, I am awared that this is because I did not need o worry about the borrow-checker, thread-safety, or who knows what else. I think that this exercise of ignoring optimizations and focus on learning was especially successful with this Rust exercise. If I kept waiting in tutorial hell until I understood every possible way of maximizing performance in Rust, I would be stuck there for a long time. By taking the approach in this blog series, I now have a very few things I know about Rust, and that gives me the confidence to bootstrap my learning process with the language.
</p>
<p>
  language-wise, Rust felt quite ergonimic. The places were the code was separated (implementation blocks, Display trait, etc) made the code more readabale, and I am sure that translates in more maintainable code. The `Ok()`/`Err()` pattern took me a bit to get used to, but it was not that bad. Rust has great tooling, and the LSP takes you very close to the steps you have to take to comply with its patterns.
</p>
<p>
  All-in-all, I think Rust's reputation of being "obtuse" or "very hard" to code in, are overblown. There are indeed complex coding patterns in Rust, especially when one wants to make the borrow-checker happy while using concurency in thread-safety applications. However, the language is very capable of delivering a lot of value withou those concepts, and we can build skills towards them as we spend more time with the language. This exercise made me want to deepen my understanding of Rust, and I am excited to see where this journey takes me.
</p>
