<Layouts.app flash={@flash}>
  <.link href={~p"/blog"}>← All posts</.link>

  <h1>{@post.title}</h1>

  <p>
    <time>{@post.date}</time> by {@post.author}
  </p>

  <p>
    Tagged as {Enum.join(@post.tags, ", ")}
  </p>

  <div class="blog-content prose prose-invert max-w-none">
    {raw(@post.body)}
  </div>
</Layouts.app>
